/* Global sass variables */
$main-font: "Source Sans Pro", sans-serif;
$main-theme-color: #76e4bb;
$titles-font-size: 2.5rem;

.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .home__title {
    font-family: "Pacifico", cursive;
    font-size: 8rem;
    letter-spacing: 0.1rem;
    font-style: italic;
    color: white;
    text-shadow: 0 0.2rem 5rem rgb(119, 115, 115);
    text-transform: uppercase;
    margin: 4rem 0;
  }
}
.login__container {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 5%;
  p {
    margin-top: 15px;
    font-size: 12px;
  }
  h1 {
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    font-size: $titles-font-size;
  }
  form {
    h5 {
      margin-bottom: 5px;
      font-size: 1.5rem;
    }
    .signin__input {
      height: 30px;
      margin-bottom: 10px;
      color: #666;
      background: #e6e6e6;
      width: 85%;
      border-radius: 25px;
      padding: 5px 10px 5px 40px;
      font-size: 1.8rem;
      display: block;
      border: none;
      &:focus {
        outline: none;
        border: 1px solid black;
      }
      &::placeholder {
        font-size: 1.8rem;
      }
    }
    .input__icon {
      position: absolute;
      padding: 8px 15px 10px 8px;
      font-size: 2.5rem;
    }
    .input__container {
      margin-bottom: 10px;
    }
  }
}

.login__signInButton {
  background-color: $main-theme-color;
  border: 1px solid;
  border-color: $main-theme-color;
  cursor: pointer;
  color: #111;
  width: 100%;
  border-radius: 2px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  &:hover {
    background-color: #58ac8d;
    border-color: #58ac8d;
  }
}
.login__registerButton {
  background-color: #e6e6e6;
  border: 1px solid;
  border-color: #e6e6e6;
  cursor: pointer;
  color: #111;
  width: 100%;
  border-radius: 2px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  &:hover {
    background-color: rgb(156, 156, 156);
    border-color: rgb(156, 156, 156);
  }
}
